* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: #eeeeee;
}

.title {
    height: 70px;
    background-color: #535353;
    color: white;
    position: sticky;
    font-weight: lighter;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
}

.questions {
    margin-bottom: 100px;
}

.questions > .header {
    height: 100px;
    padding: 20px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDFFFC;
}

.question-card {
    padding: 20px;
    border: 1px solid lightgray;
    width: 60vw;
    height: fit-content;
    background-color: #FDFFFC;
    font-weight: 200;
}

.question-card > h2 {
    width: fit-content;
    font-weight: 400;
    color: #3268BC;
}

.question-card > h2:hover {
    cursor: pointer;
    color: grey;
}

.question-details {
    padding: 20px;
    border: 1px solid lightgray;
    width: 60vw;
    height: fit-content;
    background-color: #FDFFFC;
    font-weight: 200;
}

.question-details > h1 {
    margin-bottom: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
}

.question-details > .text {
    margin-bottom: 50px;
    font-weight: bolder;
}

.question-details > form {
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}

.list > :hover{
    cursor: pointer;
    color: grey; 
  
}
.list   { 
    margin-top: 20px;
    padding-top: 10px;
    list-style-type: none;
    position: sticky;
    top: 80px;
    margin-right: 0px; 
}

.list_button {
    margin-right: 10px;
    margin-bottom: 20px; 
    font-size: 10px;
}

.LabelImportantTwoToneIcon {
    width: 60;
    height: 60;
  }

.new-question-form {
    padding: 20px;
    border: 1px solid lightgray;
    width: 60vw;
    height: 100vh;
    background-color: #FDFFFC;
}

.new-question-form > h3 {
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    font-size: x-large;
}

.question-title {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    height: 100px;
}

.question-title > label {
    margin-bottom: 10px;
}

.question-title > textarea {
    outline: none;
}

.question-text {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    height: 300px;
}

.question-text > #body {
    height: 400px;
    margin-bottom: 50px;
}

.submit {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
}

.submit:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.ask-question {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
}

.ask-question:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.logout {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
    margin-right: 50px;
}

.logout:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.textarea {
margin: 0px; 
height: 400px; 
width: 600px;
}

.login-form {
    border-left: 30vw solid lightgray;
    border-right: 30vw solid lightgray;
    border-bottom: 10vh solid lightgray;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-form > .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-form > .form > .username {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.login-form > .form > .password {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.login-form > .form > .username > label {
    margin-right: 10px;
} 

.login-form > .form > .password > label {
    margin-right: 10px;
} 

.login-form > .form > #form-buttons {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    line-height: 70px;
}

.login-button {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(131, 131, 131);
    background-color: white;
    margin-bottom: 100px;
}

.login-button:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.register-button {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(131, 131, 131);
    background-color: white;
}

.register-button:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}