* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #eeeeee;
}

.title {
    height: 70px;
    background-color: #535353;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.questions > h2 {
    height: 100px;
    padding: 20px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    background-color: white;
}

.question-card {
    padding: 20px;
    border: 1px solid lightgray;
    width: 60vw;
    height: fit-content;
    background-color: white;
    font-weight: 200;
}

.question-card > h2 {
    width: fit-content;
    font-weight: 400;
    color: #3268BC;
}

.question-card > h2:hover {
    cursor: pointer;
    color: grey;
}